[submodule "cookbooks/application"]
	path = cookbooks/application
	url = git://github.com/opscode-cookbooks/application.git
[submodule "cookbooks/apache2"]
	path = cookbooks/apache2
	url = git://github.com/opscode-cookbooks/apache2.git
[submodule "cookbooks/build-essential"]
	path = cookbooks/build-essential
	url = git://github.com/opscode-cookbooks/build-essential.git
[submodule "cookbooks/passenger_apache2"]
	path = cookbooks/passenger_apache2
	url = git://github.com/opscode-cookbooks/passenger_apache2.git
[submodule "cookbooks/runit"]
	path = cookbooks/runit
	url = git://github.com/opscode-cookbooks/runit.git
[submodule "cookbooks/unicorn"]
	path = cookbooks/unicorn
	url = git://github.com/opscode-cookbooks/unicorn.git
[submodule "cookbooks/mysql"]
	path = cookbooks/mysql
	url = git://github.com/opscode-cookbooks/mysql.git
[submodule "cookbooks/openssl"]
	path = cookbooks/openssl
	url = git://github.com/opscode-cookbooks/openssl.git
[submodule "cookbooks/apt"]
	path = cookbooks/apt
	url = git://github.com/opscode-cookbooks/apt.git
[submodule "cookbooks/memcached"]
	path = cookbooks/memcached
	url = git://github.com/opscode-cookbooks/memcached.git
